/vendor/
/logs/*
!/logs/README.md
/.idea/
/config/local.php
/public/js/**/bootstrap*
/public/js/**/jquery*
/public/js/**/*.min.js
/public/css/webfonts
/public/css/**/*.css
/public/css/**/*.css.map
/public/editor
/public/uploads
/public/thumbs
/public/thumb
/dist
*.zip