{% extends 'admin/misc/system/_system.twig' %}
{% set tab = 'sysinfo' %}

{% block tab %}
    <div class="table-responsive">
        <table class="table table-striped">
            {% for key, val in data %}
                <tr>
                    <th>{{ key|trans }}</th>
                    <td>{{ val|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}