{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{{ 'System'|trans }}{% endblock %}

{% block content %}
    {% include 'admin/misc/system/tabnav.twig' with { current: 'sysinfo' } %}
    <div class="mt-4">
        <div class="table-responsive">
            <table class="table table-striped">
                {% for key, val in data %}
                    <tr>
                        <th>{{ key|trans }}</th>
                        <td>{{ val|raw }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}