@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import '../../vendor/fortawesome/font-awesome/css/all';

body {
  margin: 10px;
}

pre.widget, pre.module, pre.posts {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #C6C6C6;
  padding: 10px;
  background: #E6E6E6;
}

pre.widget:before, pre.module:before, pre.posts:before {
  font-weight: bold;
  display: block;
  font-size: 14px;
  height: 25px;
}

pre.widget:before {
  content: 'Widget';
}

pre.module:before {
  content: 'Modul';
}

pre.posts:before {
  content: 'Beiträge';
}