@import '../../vendor/twbs/bootstrap/scss/bootstrap';

$fa-font-path: "./webfonts" !default;
@import '../../vendor/fortawesome/font-awesome/scss/fontawesome';
@import '../../vendor/fortawesome/font-awesome/scss/solid';
@import '../../vendor/fortawesome/font-awesome/scss/brands';

body {
  background: url('../img/bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.gallery-item {
  height: 150px;
}

#cookie-info {
  position: fixed;
  bottom: 0;
}