<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Gisler Software">
        <meta name="robots" content="noindex,nofollow">

        <title>{% block title %}{% endblock %} - GislerCMS</title>

        {% block stylesheets %}
            <link href="{{ base_url() }}/css/admin/style.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include 'admin/color-theme.twig' %}
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
