@import '../../../vendor/twbs/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

$color-mode-type: data;
@include color-mode(dark) {
  .hide-dark {
    display: none;
  }
}
@include color-mode(light) {
  .hide-light {
    display: none;
  }
}