<div id="cookie-info" class="w-100 p-2 d-none">
    <div class="alert alert-primary row m-0" role="alert">
        <div class="col-8 align-middle p-0 pt-1">
            {{ 'Mit der Verwendung der Webseite stimmst du der Nutzung von Cookies zu.'|trans }}
        </div>
        <div class="col-4 text-right p-0">
            <button class="btn btn-primary btn-sm" id="accept-cookies">OK</button>
        </div>
    </div>
</div>
